<template>
    <section class="au-animate">
        <h1>${seriesName}</h1>
        <form class="form-horizontal" role="form">
            </br>

            <div class="form-group">
                <label for="height" class="col-sm-2 col-md-4">Height</label>
                <div class="col-sm-10 col-md-8">
                    <input value="${physicalProperties.height}" disabled="${!editable}" type="text" class="form-control" id="height" placeholder="Enter Height">
                </div>
            </div>

            <div class="form-group">
                <label for="weight" class="col-sm-2 col-md-4">Weight</label>
                <div class="col-sm-10 col-md-8">
                    <input value="${physicalProperties.weight}" disabled="${!editable}" type="text" class="form-control" id="weight" placeholder="Enter Weight">
                </div>
            </div>

            <div class="form-group">
                <label for="driveType" class="col-sm-2 col-md-4">Drive Type</label>
                <div class="col-sm-10 col-md-8">
                    <input value="${physicalProperties.driveType}" disabled="${!editable}" type="text" class="form-control" id="driveType" placeholder="Enter Drive Type">
                </div>
            </div>



            <!--<div class="form-group">
                <label for="equipment" class="col-sm-2 col-md-4">Equipment</label>
                <div class="col-sm-10 col-md-8" >
                    <input repeat.for="equipment of physicalProperties.equipment" value="${equipment}" disabled="${!editable}" type="text" class="form-control" id="driveType" placeholder="Enter Drive Type">
                </div>
            </div>
            -->
            <div>Test?</div>
            <div>${physicalProperties.equipment.toString()}</div>
            
            <div repeat.for="equip of physicalProperties.equipment">
                ${equip}
            </div>

        </form>
    </section>
</template>